<h1> New blog post<h1/>

<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :Title %><br>
    <%= form.text_field :Title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :Body %><br>
    <%= form.text_field :Body %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <%= form.submit %>
  </div>
<% end %>
